body,main {
	display: flex;
	
}

body {
	flex-direction: column;
}

main {
	flex-direction: row;
	flex: auto;
	background-color: #33c5a1dc;
	font: bold;
}

article {
	flex: 2;
}

aside {
	flex: 1;
	background-color: rgb(211, 204, 165);
}

article,aside {
	overflow-y: auto;
}
